{
  "include": [
    "**/src/*.ts",
    "**/src/**/*.ts"
  ],
  "exclude": [
    "**/typings",
    "**/*.d.ts",
    "**/dist",
    "**/test/**/*.ts",
    "**/node_modules"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "json",
    "html"
  ],
  "all": true
}
